@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/JetBrainsMono-Regular-ascii.woff2) format("woff2");
  unicode-range: U+000-07F;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: calc(1rem + 0.25vw);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  font-family: "JetBrains Mono", monospace;
}

a {
  color: inherit;
}

a:hover {
  text-decoration-style: dotted;
}

hr {
  border: 1px solid white;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url(" data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADNSURBVBhXBcHbasIwGADg5I+x0aZWWsV6YIwxhF3MbYJv4iP4EL6leONFL1Rwk7G1tGubNOlx34e3+x3CCCiTeSzyIkskLXSja7J4ctMWqyKNQlFqTYqyVbUHAyJdO1Iq1mLQkFdlDUvqAKtQC04fjCaZQe+dv3A9r2/KCLKMSzBBbB47K3dMvg3/cj8epJKdcZAQNgo9t9sji8hv0+uN9UNfU9N+gA9rbVdvOPcajrxnc4RD+ac+Uwbil5JqGUfGD6Inzc8w7VqT7Cv4ByKyYKPUX5bYAAAAAElFTkSuQmCC"),
    #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(1rem);
  scale: 1.1;
}

@media (prefers-contrast: more) {
  .background {
    background: #000000;
  }
}
.not-found .background {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACwSURBVBhXDczBMsRAEAbgnu5kZiXZsOvghiPFwXt5YVVuLlQpCpHJdHr+NN8DfOHx4d7JmVmrlYpsVdwdLnen/eK+wn7UsCE4EfzYRtnF9rvaZLZnuWxOhiCjNPg/Dq0k2i7adN2dJYoo4IoSKndMt+PuquuDhtdpfv6cK2gP549lAozI56Km6yHR05QzEt8M572MgaILHYc0sue1viu4rMShy+pfm78o3kCxSb+L/gFrlmTqHkDOkwAAAABJRU5ErkJggg==");
}

.container {
  margin: calc(max(1rem, 5vw));
  padding: calc(max(1rem, 5vw));
  border: 3px solid #ffffff;
  color: #ffffff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border-radius: 1px;
}
.content {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 65ch;
  text-align: start;
}

.lower {
  text-transform: lowercase;
}

.no-margin {
  margin: 0;
}

.small-box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ffffff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border-radius: 1px;
}

.button {
  padding: 0.5em 0.6em;
  background-color: #ffffff22;
  border: none;
  border-radius: 1px;

  &:hover {
    background-color: #ffffff44;
  }
  &:active {
    background-color: #ffffff55;
  }
  &:disabled,
  &[aria-disabled="true"] {
    background-color: transparent;
  }
}
